# Google Sheets
GOOGLE_SHEETS_ID=1hokyEt7HJOMRTEEgL8rQYQTDutPOSAa35jR3Nm650Vg
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END PRIVATE KEY-----"

# Authentication
EDITOR_PIN=cloud10

# Deployment
NEXT_PUBLIC_DEMO_MODE=false
